

<div class="container">
<div id="results"></div>
</div>

<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="comentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="container">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-title">New Comment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="form-control-label">Title:</label>
              <input type="text" class="form-control" id="titleinput">
            </div>
            <div class="form-group">
              <label for="message-text" class="form-control-label">Comment:</label>
              <textarea class="form-control" id="body"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
        </div>
        <h3>Previous Comments</h3>
              <div class="modal-body" id="commentbox"> 
      </div>
    </div>
    </div>
  </div>
</div>
